$sliderTitleColor: #555555;
$sliderTitleSize: 55px;
$btnFontSize: 20px;
$btnBgColor: #26aa5e;
$btnBgColorHover: #33bd6d;
$speedMenuShow: 0.2s;

.slider {
  &__item {
    background-image: url("src/img/slider.png");
    background-position: center;
    width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__content {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    .content-title {
      text-align: center;
      font-size: $sliderTitleSize;
      font-family: "Roboto Thin", sans-serif;
      color: $sliderTitleColor;
    }
    .btn-go {
      padding: 0.45em 1em;
      margin: 20px 0;
      border-radius: 3px;
      background-color: $btnBgColor;
      text-transform: uppercase;
      color: #ffffff;
      transition: background-color $speedMenuShow;
      font-size: $btnFontSize;
      &:hover {
        background-color: $btnBgColorHover;
      }
      font-family: "Roboto Regular", sans-serif;
    }
  }
}
@media screen and (max-width: 992px) {
  .slider {
    &__content {
      width: 80%;
      .content-title {
        font-size: $sliderTitleSize - 10px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .slider {
    &__item {
      height: 40vh;
    }
    &__content {
      width: 100%;
      .content-title {
        font-size: $sliderTitleSize - 15px;
      }
      .btn-go {
        font-size: $btnFontSize;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .slider {
    &__item {
      height: 45vh;
    }
    &__content {
      .content-title {
        font-size: $sliderTitleSize - 25px;
      }
      .btn-go {
        font-size: $btnFontSize - 3px;
      }
    }
  }
}
